div.positive {
    display: inline-block;
    width: 25px;
    background-color: blue;
    margin-right: 2px;
    font-size: 15%;
    font-family: sans-serif;
    color: black;
}

div.negative {
    display: inline-block;
    width: 25px;
    background-color: red;
    margin-right: 2px;
    font-size: 15%;
    font-family: sans-serif;
    color: black;
}