div.positive {
    display: inline-block;
    width: 5px;
    background-color: blue;
    margin-right: 1px;
    font-size: 10%;
    font-family: sans-serif;
    color: white;
    text-align: center;

}

div.negative {
    display: inline-block;
    width: 5px;
    background-color: red;
    margin-right: 2px;
    font-size: 10%;
    font-family: sans-serif;
    color: white;
    text-align: center;
}